<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by {{name}} It uses data from mapbox.com and darksky.net</p>
      <img class="profileImage" src="/images/wisechimp.jfif">
    </div>
    {{>footer}}
  </body>
</html>
